In [1]:
import tools210922
import pandas as pd
import yfinance as yf

In [2]:
con = tools210922.connect_postgres(abschnitt="azure_eltr")

In [3]:
t = yf.Ticker("TSLA")
#tools.insert_earnings_quarter(con, t)

In [4]:
df = t.history(start='2022-07-01')
df.head(3)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-06-30,224.509995,229.456665,218.863327,224.473328,94600500,0,0.0
2022-07-01,227.000000,230.229996,222.119995,227.263336,74460300,0,0.0
2022-07-05,223.000000,233.146667,216.166672,233.066666,84581100,0,0.0

In [5]:
df["symbol"] = t.info["symbol"]
del df["Dividends"]
del df["Stock Splits"]
df.columns = df.columns.str.lower()
df.head(3)

                  open        high         low       close    volume symbol
Date
2022-06-30  224.509995  229.456665  218.863327  224.473328  94600500   TSLA
2022-07-01  227.000000  230.229996  222.119995  227.263336  74460300   TSLA
2022-07-05  223.000000  233.146667  216.166672  233.066666  84581100   TSLA

In [6]:
df = df.reset_index()
df.columns = df.columns.str.lower()
df.head(3)

        date        open        high         low       close    volume symbol
0 2022-06-30  224.509995  229.456665  218.863327  224.473328  94600500   TSLA
1 2022-07-01  227.000000  230.229996  222.119995  227.263336  74460300   TSLA
2 2022-07-05  223.000000  233.146667  216.166672  233.066666  84581100   TSLA

In [ ]:
df.to_sql("history",con=con, schema="finance", if_exists="append", index=False)